h1{
    color:rgb(15, 171, 233);
    padding: 10px;
}
 

 .intro-section, .about{
        /* border: solid rgb(15, 171, 233); */
        margin: 10px 5px;
        /* padding:5px; */
        background-color: rgba(224, 245, 242, 0.37);

 }
 #div-id{
    margin: 5% 10%;
    border: 2px solid black;

 }

 p{
    /* border:1px solid black; */
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 4px solid rgb(15, 171, 233);
    background-color: rgb(211, 224, 235);
 }

 .para{
    border-top: 3px solid rgb(15, 171, 233);
    
    
 }